.offersSection{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vmax;
}

.offersSection img{
    margin: 0 1vmax;
    transition: all 0.3s;
}

.offersSection img:hover{
    transform: scale(0.9, 0.9);
    box-shadow: 6px 6px 15px rgba(53,53,53,0.363);
}